<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: "form-label" %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :copyright, class: "form-label" %>
    <%= form.text_field :copyright, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :collection, class: "form-label" %>
     <%= form.select :collection_id, Collection.pluck(:name, :id), { prompt: "Select ..." }, class: "form-control" %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
