<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item active"><a>Images</a></li>
    <li class="ms-auto"><a href="<%= new_image_path %>" class="btn btn-primary">Add New Image</a></li>
  </ol>
</nav>
  
<div class="container text-center pt-3">
  <% unless @images.any? %>
    <div class="alert alert-primary" role="alert">
      No images found! You can try creating some ... <a href="<%= new_image_path %>">Add Image</a>
    </div>
  <% else %>
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-lg-4 col-md-12 mb-3">
          <div class="card h-100">
            <img class="h-100" src="<%= image.url %>" class="card-img-top" alt="Peaks Against the Starry Sky">
            <div class="card-body">
              <h5 class="card-title"><%= image.title.titleize %></h5>
              <p class="card-text"><%= image.created_at.strftime('%b %d, %Y') %></p>
              <a href="<%= image_path(image) %>" class="btn btn-primary">View Image</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>